.list1{
    width:80%;
    margin-top:50px;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 20px;
    background-color: azure;
}

.label1{
    text-align:center;
    padding-bottom: 20px;
}