.passBtn{
    cursor: pointer;
    border: 1px solid #def511;
    background-color: transparent;
    height: 50px;
    width: 100px;
    color: #da0b38;
    font-size: 1em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
}