.slider-container {
    max-width: 1400px; /* Set the maximum width of the carousel */
    margin: auto; /* Center the carousel */
  }
  
  .slider-image {
    height: 600px; /* Set the desired height */
    object-fit: cover; /* Ensure the images cover the area */
  }
  