.list11{
    width:100%;
    margin-top:50px;
    margin-left: 12%;
    margin-right: 10%;
    background-color: azure;
}

.label1{
    text-align:center;
    padding-bottom: 20px;
}

.back{
    font-size: 20px;
}